#info .info_container {
    display: flex;
    justify-content: space-between;
}

#info .info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 4px;

}

#info .info-content img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#info .info-content .amount {
    font-family: 'Inter', serif;
    font-weight: 900;
    font-size: 40px;
}

#info .info-content .type {
    font-family: 'Alegreya', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}

#info .wrapper {
    position: relative;
}

#info .red-corner {
    position: absolute;
    top: -20px;
    left: 0;
}

@media (max-width: 1040px) {
  #info .info-content .amount {
      font-size: 32px;
  }
    #info .info-content .type{
        font-size: 24px;
    }
}

@media (max-width: 720px) {
    #info .info_container {
        flex-direction: column;
        gap: 80px;
    }

    #info .red-corner {
        left: 32px;
    }
}
